:root {
  --primary-text-color: #434455;
  --title-text-color: #2e2f42;
  --hero-text-color: #ffffff;
  --customers-border: #8e8f99;
  --footer-logo-color: #f4f4fd;
  --footer-text-color: #e7e9fc;
  --accent-color: #4d5ae5;
  --portfolio-button-bgc: #404bbf;
  --success: #31d0aa;
  --modal-bgc: #fcfcfc;
  --modal-close-button: rgba(0, 0, 0, 0.1);
  --backdrop-color: rgba(46, 47, 66, 0.4);
  --placeholder-color: rgba(117, 117, 117, 0.5);
  --form-border-color: rgba(33, 33, 33, 0.2);
  --checkbox-text-color: #757575;
  --form-footer-border: rgba(255, 255, 255, 0.3);
  --footer-icon-bgc: rgba(255, 255, 255, 0.1);
  --footer-placeholder: rgba(255, 255, 255, 0.6);

  --phone-list-gap: 72px;
  --contacts-list-gap: 40px;

  --nav-list-gap: 40px;
  --list-gap: 24px;

  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  color: var(--primary-text-color);
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.02em;
}

body.modal-open {
  overflow: hidden;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (max-width: 767px) {
  .container {
    max-width: 428px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1158px;
  }
}

@media screen and (max-width: 1199px) {
  .section {
    /* outline: 1px solid tomato; */

    padding-top: 96px;
    padding-bottom: 96px;
  }
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .section.doing {
    padding-top: 0;
  }
}

.section.team {
  background-color: var(--footer-logo-color);
}

@media screen and (max-width: 767px) {
  .section.team {
    padding-bottom: 128px;
  }
}

@media screen and (min-width: 768px) {
  .section.team {
    padding-bottom: 104px;
  }
}

@media screen and (min-width: 1200px) {
  .section.team {
    padding-bottom: 120px;
  }
}

.section-title {
  text-align: center;
  margin-top: 0;
  margin-bottom: 72px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
}

.button {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;

  cursor: pointer;

  border-radius: 4px;
  border: 1px solid transparent;
}

img {
  display: block;
  max-width: 100%;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  color: var(--title-text-color);
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Logo */
.logo {
  color: var(--accent-color);
  text-transform: uppercase;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.logo-header {
  color: var(--title-text-color);
}

.logo-footer {
  color: var(--footer-logo-color);
}

/* Top line */
header {
  border-bottom: 1px solid var(--footer-text-color);
}

.top-line {
  display: flex;
  align-items: center;

  height: 70px;
}

@media screen and (max-width: 767px) {
  .menu-button {
    display: block;

    margin-left: auto;

    border: none;
    background-color: transparent;
  }
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.menu-button .icon {
  stroke: var(--title-text-color);
}

.menu-button:hover .icon,
.menu-button:focus .icon {
  stroke: var(--accent-color);
}

@media screen and (max-width: 767px) {
  .site-nav .item {
    display: none;
  }

  .contacts {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .site-nav {
    display: flex;

    margin-left: 120px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
  }

  .site-nav .link {
    display: block;

    padding-top: 24px;
    padding-bottom: 24px;
  }

  .site-nav .item {
    margin-right: 40px;
  }

  .site-nav .item:last-child {
    margin-right: 0;
  }

  .link.current {
    position: relative;

    color: var(--portfolio-button-bgc);
  }

  .link.current::after {
    position: absolute;
    bottom: 0;

    content: '';
    display: block;
    width: 100%;
    height: 4px;

    background: var(--portfolio-button-bgc);
    border-radius: 2px;
  }

  .contacts {
    margin-left: auto;
  }

  .contacts-link {
    font-style: normal;
    font-size: 12px;
    line-height: 1.3;

    color: var(--primary-text-color);
  }
}

@media screen and (min-width: 1200px) {
  .contacts-list {
    display: flex;

    margin-left: -40px;
  }

  .contacts-list-item {
    margin-left: 40px;
  }

  .contacts-link {
    padding-top: 24px;
    padding-bottom: 24px;

    font-size: 16px;
    line-height: 24px;
  }
}

.menu-close {
  position: absolute;
  top: 40px;
  right: 40px;

  min-height: 24px;
  min-width: 24px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--footer-text-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 100%;

  transition: background-color 250ms var(--timing-function),
    border-color 250ms var(--timing-function);
}

.menu-close .icon {
  fill: var(--title-text-color);

  transition: fill 250ms var(--timing-function);
}

.menu-close:hover,
.menu-close:focus {
  background-color: var(--portfolio-button-bgc);
  border-color: transparent;
}

.menu-close:hover .icon,
.menu-close:focus .icon {
  fill: var(--hero-text-color);
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  padding-top: 80px;
  padding-left: 40px;

  background-color: var(--hero-text-color);

  transform: translateX(100%);
  transition: transform 250ms var(--timing-function);
}

@media screen and (min-width: 768px) {
  .menu-container {
    display: none;
  }
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-nav {
  margin-bottom: 284px;
}

.menu-nav-item {
  margin-bottom: var(--nav-list-gap);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
}

.menu-nav-item:last-child .link {
  margin-bottom: 0;

  color: var(--portfolio-button-bgc);
}

.menu-contacts {
  margin-bottom: 48px;
}

.menu-contacts-item {
  margin-bottom: var(--nav-list-gap);
}

.menu-contacts-item .link {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

.menu-contacts-item:first-child .link {
  font-weight: 600;
  font-size: 36px;
  line-height: 1.1;

  color: var(--accent-color);
}

.menu-social {
  display: flex;

  width: 384px;

  margin-left: -56px;
}

.menu-social-item {
  flex-basis: calc(100% / 4 - 56px);

  margin-left: 56px;

  border-radius: 100%;

  background-color: var(--accent-color);

  transition: background-color 250ms var(--timing-function);
}

.icon-block.menu {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 40px;

  border-radius: 100%;
}

.icon-block.menu:hover,
.icon-block.menu:focus {
  background-color: var(--portfolio-button-bgc);
}

/* Hero */
.hero {
  margin: 0 auto;

  text-align: center;

  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/main_page/hero/hero-mobile.jpg);
  }

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/main_page/hero/hero-mobile@2x.jpg);
      background-size: cover;
    }
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/main_page/hero/hero-tablet.jpg);
  }

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/main_page/hero/hero-tablet@2x.jpg);
      background-size: cover;
    }
  }
}

@media screen and (max-width: 1199px) {
  .hero {
    padding-top: 112px;
    padding-bottom: 112px;
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1440px;

    padding-top: 188px;
    padding-bottom: 188px;

    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/main_page/hero/hero-desktop.jpg);
  }

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .hero {
      max-width: 1440px;

      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/main_page/hero/hero-desktop@2x.jpg);
      background-size: cover;
    }
  }
}

.hero-title {
  margin-top: 0;
  margin-right: auto;
  margin-left: auto;

  font-weight: 700;
  color: var(--hero-text-color);
}

@media screen and (max-width: 767px) {
  .hero-title {
    max-width: 318px;

    margin-bottom: 72px;

    font-size: 36px;
    line-height: 1.1;
  }
}

@media screen and (min-width: 768px) {
  .hero-title {
    width: 494px;

    margin-bottom: 40px;

    font-size: 56px;
    line-height: 1.07;
  }
}

@media screen and (min-width: 1200px) {
  .hero-title {
    margin-bottom: 48px;
  }
}

.hero > .button {
  color: var(--hero-text-color);
  background-color: var(--accent-color);
  padding: 16px 32px;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  transition: background-color 250ms var(--timing-function);
}

.hero .button:hover,
.hero .button:focus {
  background-color: var(--portfolio-button-bgc);
}

/* Modal */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  background: var(--backdrop-color);

  overflow-y: scroll;

  opacity: 1;
  transition: opacity 250ms var(--timing-function);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms var(--timing-function);

  padding: 72px 24px 24px 24px;

  background: var(--modal-bgc);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

@media screen and (max-width: 480px) {
  .modal {
    max-width: calc(100% - 18px);
  }
}

@media screen and (max-width: 767px) {
  .modal {
    width: 392px;
    height: 586px;

    padding-left: 16px;
    padding-right: 16px;
  }
}

@media screen and (min-width: 768px) {
  .modal {
    width: 408px;
    height: 586px;

    padding-left: 24px;
    padding-right: 24px;
  }
}

.modal .button.close {
  position: absolute;
  top: 24px;
  right: 24px;

  display: flex;
  align-items: center;
  justify-content: center;
  height: 24px;
  width: 24px;

  background-color: var(--footer-text-color);
  border: 1px solid var(--modal-close-button);
  border-radius: 100%;

  transition: fill 250ms var(--timing-function),
    background-color 250ms var(--timing-function);
}

.modal .button.close:hover,
.modal .button.close:focus {
  fill: var(--hero-text-color);
  background-color: var(--portfolio-button-bgc);
}

/* Form */
.modal .title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;

  margin-top: 0;
  margin-bottom: 16px;

  color: var(--primary-text-color);
}

.inputs {
  text-align: start;
}

.modal .form-field {
  margin-bottom: 8px;
}

.form-field.comment {
  margin-bottom: 16px;
}

.modal .form-label {
  display: flex;
  flex-direction: column;

  margin-bottom: 8px;

  font-size: 12px;
  line-height: 1.3;
  letter-spacing: 0.01em;

  color: var(--customers-border);
}

.modal .form {
  position: relative;
}

.form .icon {
  position: absolute;

  top: 50%;
  left: 24px;
  transform: translate(-50%, -50%);

  fill: var(--title-text-color);
}

.form-label:focus-within .icon,
.form-label:focus-within .form-input {
  fill: var(--accent-color);
  border-color: var(--accent-color);
}

.form-input {
  outline: none;
}

.modal .form-input {
  width: 100%;
  height: 40px;

  padding: 11px 11px 11px 38px;

  border: 1px solid var(--form-border-color);
  border-radius: 4px;
}

.modal .form-input.comment {
  padding: 8px 16px;
  height: 120px;
  resize: none;
}

.modal .form-input::placeholder {
  font-size: 12px;
  line-height: 1.3;
  letter-spacing: 0.04em;
  color: var(--placeholder-color);
}

.check {
  margin-bottom: 24px;
}

.check-label {
  position: relative;

  font-size: 12px;
  line-height: 1.3;
  letter-spacing: 0.04em;

  padding-left: 24px;
  color: var(--checkbox-text-color);
}

.check-box {
  position: absolute;

  left: 8px;
  top: 6.5px;
  transform: translate(-50%, -50%);

  width: 16px;
  height: 16px;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 1.25px solid var(--title-text-color);
  border-radius: 2px;
  background-color: transparent;

  transition: background-color 250ms var(--timing-function),
    border-color 250ms var(--timing-function);
}

.check-box .icon {
  fill: none;

  transition: fill 250ms var(--timing-function);
}

.check-input:checked + .check-box {
  border-color: transparent;
  background-color: var(--accent-color);
}

.check-input:checked + .check-box .icon {
  fill: var(--footer-logo-color);
}

.check-link {
  color: var(--accent-color);
}

.inputs .submit {
  position: absolute;

  left: 50%;
  transform: translateX(-50%);

  width: 169px;
  height: 56px;

  color: var(--hero-text-color);

  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  transition: background-color 250ms var(--timing-function);
}

/* Our features */
.feature-list-item h3 {
  margin-top: 0;
  margin-bottom: 8px;

  color: var(--title-text-color);
}

.feature-list-item p {
  margin-top: 0;
  margin-bottom: 0;

  font-size: 16px;
  line-height: 1.5;
}

@media screen and (max-width: 767px) {
  .feature-list-item h3 {
    text-align: center;
  }

  .feature-list {
    margin-top: calc(-1 * var(--phone-list-gap));
  }

  .feature-list-item {
    margin-top: var(--phone-list-gap);
  }
}

@media screen and (min-width: 768px) {
  .feature-list {
    display: flex;
    flex-wrap: wrap;

    margin-top: calc(-1 * var(--phone-list-gap));
    margin-left: calc(-1 * var(--list-gap));
  }

  .feature-list-item {
    flex-basis: calc(100% / 2 - 24px);

    margin-top: var(--phone-list-gap);
    margin-left: var(--list-gap);
  }

  .feature-list-item h3 {
    text-align: start;
  }
}

@media screen and (max-width: 1199px) {
  .features .icon-block {
    display: none;
  }

  .feature-list-item h3 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
  }

  .feature-list-item p {
    font-weight: 500;
  }
}

@media screen and (min-width: 1200px) {
  .feature-list {
    margin-top: 0;
  }

  .feature-list-item {
    flex-basis: calc(100% / 4 - var(--list-gap));

    margin-top: 0;
  }

  .feature-list-item .icon-block {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 112px;

    margin-bottom: 8px;

    border-radius: 4px;
    background-color: var(--footer-logo-color);
  }

  .feature-list-item h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
}

/* What are we doing */
@media screen and (max-width: 1199px) {
  .section.doing {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .doing-list {
    display: flex;

    margin-left: calc(-1 * var(--list-gap));
  }

  .doing-list-item {
    flex-basis: calc(100% / 3 - var(--list-gap));

    margin-left: var(--list-gap);
  }
}

/* Our team */
.team-list {
  display: flex;
}

.team-list-item {
  text-align: center;

  background-color: var(--hero-text-color);
  border-radius: 0px 0px 4px 4px;

  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-card {
  max-width: 232px;

  margin-right: auto;
  margin-left: auto;
  padding-top: 32px;
  padding-bottom: 32px;
}

.team-list-item h3 {
  margin-top: 0;
  margin-bottom: 8px;

  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;

  color: var(--title-text-color);
}

.team-list-item p {
  margin-top: 0;
  margin-bottom: 8px;

  font-size: 16px;
  line-height: 1.5;
}

@media screen and (max-width: 767px) {
  .team-list {
    flex-direction: column;

    margin-top: calc(-1 * var(--phone-list-gap));
  }

  .team-list-item {
    margin-left: auto;
    margin-right: auto;
    margin-top: var(--phone-list-gap);
  }
}

@media screen and (min-width: 768px) {
  .container.team {
    width: 552px;
  }

  .team-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    margin-top: -64px;
    margin-left: calc(-1 * var(--list-gap));
  }

  .team-list-item {
    flex-basis: calc(100% / 2 - var(--list-gap));

    margin-top: 64px;
    margin-left: 24px;
  }
}

@media screen and (min-width: 1200px) {
  .container.team {
    width: 1152px;
  }

  .team-list {
    margin-left: calc(-1 * var(--list-gap));

    margin-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .team-list-item {
    flex-basis: calc(100% / 4 - var(--list-gap));

    margin-top: 0;
    margin-left: var(--list-gap);
  }
}

/* Team socials */
.social-list {
  display: flex;
  justify-content: center;

  margin-left: calc(-1 * var(--list-gap));
}

.social-list-item.team {
  flex-basis: calc(100% / 4 - var(--list-gap));

  margin-left: var(--list-gap);
}

.icon-block.team {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;

  border-radius: 100%;

  background-color: var(--accent-color);

  transition: background-color 250ms var(--timing-function);
}

.icon-block.team:hover,
.icon-block.team:focus {
  background-color: var(--portfolio-button-bgc);
}

/* Customers */
.customers-list {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 767px) {
  .customers-list {
    margin-top: calc(-1 * var(--phone-list-gap));
    margin-left: -16px;
  }

  .customers-list-item {
    flex-basis: calc(100% / 2 - 16px);

    margin-top: var(--phone-list-gap);
    margin-left: 16px;
  }
}

@media screen and (min-width: 768px) {
  .container.customers {
    width: 552px;
  }

  .customers-list {
    margin-top: calc(-1 * var(--phone-list-gap));
    margin-left: calc(-1 * var(--list-gap));
  }

  .customers-list-item {
    flex-basis: calc(100% / 3 - var(--list-gap));

    margin-top: var(--phone-list-gap);
    margin-left: var(--list-gap);
  }
}

@media screen and (min-width: 1200px) {
  .container.customers {
    width: 1158px;
  }

  .customers-list {
    margin-top: 0;
    margin-left: calc(-1 * var(--list-gap));
  }

  .customers-list-item {
    flex-basis: calc(100% / 6 - var(--list-gap));

    margin-top: 0;
    margin-left: var(--list-gap);
  }
}

.customers-list-item .icon-block {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 88px;

  outline: none;

  border: 1px solid var(--customers-border);
  border-radius: 4px;

  fill: var(--customers-border);

  transition: fill 250ms var(--timing-function),
    border-color 250ms var(--timing-function);
}

.customers-list-item .icon-block:hover,
.customers-list-item .icon-block:focus {
  fill: var(--portfolio-button-bgc);
  border-color: var(--portfolio-button-bgc);
}

/* Footer */
footer {
  background-color: var(--title-text-color);
}

@media screen and (max-width: 767px) {
  footer {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  footer {
    text-align: start;
  }

  .container.footer {
    width: 552px;
  }

  .studio-info {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 1199px) {
  footer {
    padding-top: 96px;
    padding-bottom: 96px;
  }
}

@media screen and (min-width: 1200px) {
  footer {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .container.footer {
    width: 1158px;
  }
}

/* Info */
footer p {
  max-width: 264px;
  margin-top: 16px;
  margin-bottom: 0;

  font-size: 16px;
  line-height: 1.5;

  color: var(--footer-text-color);
}

@media screen and (max-width: 767px) {
  footer p {
    margin-right: auto;
    margin-left: auto;

    text-align: start;
  }
}

@media screen and (min-width: 768px) {
  footer p {
    margin-right: 0;
    margin-left: 0;
  }
}

footer .title {
  margin-top: 0;
  margin-bottom: 16px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;

  color: var(--hero-text-color);
}

/* Socials */
@media screen and (max-width: 767px) {
  .social-container {
    max-width: 208px;

    margin-top: var(--phone-list-gap);
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .social-container {
    width: 208px;

    margin-top: 0;
    margin-left: var(--list-gap);
    margin-right: 0;
  }
}

@media screen and (min-width: 1200px) {
  .social-container {
    margin-left: 120px;
  }
}

footer .social-list {
  display: flex;
  margin-left: calc(-1 * 16px);
}

.social-list-item.footer {
  flex-basis: calc(100% / 4 - 16px);

  margin-left: 16px;

  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 100%;

  transition: background-color 250ms var(--timing-function);
}

.icon-block.footer {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 40px;

  border-radius: 100%;

  transition: background-color 250ms var(--timing-function);
}

.icon-block.footer:hover,
.icon-block.footer:focus {
  background-color: var(--success);
}

/* Subscribe */
.subscribe .form-input {
  height: 40px;

  color: var(--footer-placeholder);

  padding-left: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-bottom: 16px;

  background-color: transparent;
  border: 1px solid var(--form-footer-border);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  transition: border-color 250ms var(--timing-function);
}

@media screen and (max-width: 767px) {
  .subscribe .form-input {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .subscribe .form-input {
    width: 264px;

    margin-right: var(--list-gap);
    margin-bottom: 0;
  }

  .subs-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .button-subscribe {
    margin-top: 0;
  }
}

@media screen and (max-width: 1199px) {
  .subscribe {
    margin-top: var(--phone-list-gap);
  }
}

@media screen and (min-width: 1200px) {
  .subscribe {
    margin-left: 80px;
  }
}

.subscribe .form-input::placeholder {
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;

  color: var(--footer-placeholder);
}

.subscribe .form-input:focus-within {
  border-color: var(--accent-color);
}

.button-subscribe {
  display: flex;
  align-items: center;
  gap: 16px;

  height: 40px;

  margin-left: auto;
  margin-right: auto;
  padding: 8px 24px;

  font-size: 16px;
  line-height: 1.5;

  color: var(--hero-text-color);
  fill: var(--hero-text-color);
  background-color: var(--accent-color);

  transition: background-color 250ms var(--timing-function);
}

.button-subscribe:hover,
.button-subscribe:focus {
  background-color: var(--portfolio-button-bgc);
}

/* Portfolio */
@media screen and (max-width: 767px) {
  .portfolio .section {
    padding-top: 48px;
    padding-bottom: 48px;
  }
}

@media screen and (min-width: 768px) {
  .portfolio .section {
    padding-top: 64px;
    padding-bottom: 96px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio .section {
    padding-top: 96px;
    padding-bottom: 120px;
  }
}

/* Filter */
.filter-list {
  display: flex;
  flex-wrap: wrap;

  margin-left: calc(-1 * var(--list-gap));
}

.filter-list-item {
  margin-left: var(--list-gap);
}

@media screen and (max-width: 767px) {
  .filter-list {
    width: 300px;

    margin-top: -16px;
    margin-bottom: 48px;
  }

  .filter-list-item {
    margin-top: 16px;
  }
}

@media screen and (min-width: 768px) {
  .filter-list {
    justify-content: center;

    margin-bottom: 64px;
  }
}

@media screen and (min-width: 1200px) {
  .filter-list {
    margin-bottom: 72px;
  }
}

.filter-list-item .button {
  padding: 8px 16px;

  border: 1px solid var(--footer-text-color);

  color: var(--accent-color);
  background-color: var(--footer-logo-color);

  transition: border-color 250ms var(--timing-function),
    background-color 250ms var(--timing-function),
    color 250ms var(--timing-function), box-shadow 250ms var(--timing-function);
}

.filter-list-item .button:hover,
.filter-list-item .button:focus {
  border: 1px solid transparent;

  color: var(--hero-text-color);
  background-color: var(--portfolio-button-bgc);
}

/* Projects */
.project-list {
  display: flex;
  flex-wrap: wrap;
}

.project-list-item {
  border: 0.5px solid #f4f4fd;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

@media screen and (max-width: 767px) {
  .project-list {
    margin-bottom: -48px;
  }

  .project-list-item {
    flex-basis: 100%;

    margin-bottom: 48px;
  }
}

@media screen and (min-width: 768px) {
  .project-list {
    margin-top: calc(-1 * var(--phone-list-gap));
    margin-left: calc(-1 * var(--list-gap));
  }

  .project-list-item {
    flex-basis: calc(100% / 2 - var(--list-gap));

    margin-top: var(--phone-list-gap);
    margin-left: var(--list-gap);
  }
}

@media screen and (min-width: 1200px) {
  .project-list {
    margin-top: calc(-2 * var(--list-gap));
    margin-left: calc(-1 * var(--list-gap));
  }

  .project-list-item {
    flex-basis: calc(100% / 3 - var(--list-gap));

    margin-top: calc(2 * var(--list-gap));
    margin-left: var(--list-gap);
  }
}

.card-content {
  padding-top: 32px;
  padding-left: 16px;
  padding-bottom: 32px;
}

.project-list-item h2 {
  margin-top: 0;
  margin-bottom: 8px;

  color: var(--title-text-color);

  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

.project-list-item p {
  margin-top: 0;
  margin-bottom: 0;

  font-size: 16px;
  line-height: 1.5;
}

.project-thumb {
  position: relative;
  overflow: hidden;
}

.project-thumb::before {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  transform: translateY(100%);
  opacity: 0;
  transition: transform 250ms var(--timing-function),
    opacity 250ms var(--timing-function);

  content: '';
  background-color: var(--accent-color);
}

.overlay-text {
  position: absolute;
  top: 40px;
  left: 32px;
  right: 32px;

  transform: translateY(300%);
  opacity: 0;
  transition: transform 250ms var(--timing-function),
    opacity 250ms var(--timing-function);

  color: var(--footer-logo-color);
  font-size: 16px;
  line-height: 1.5;
}

.project-link:hover .overlay-text,
.project-link:focus .overlay-text,
.project-link:hover .project-thumb::before,
.project-link:focus .project-thumb::before {
  transform: translateY(0%);
  opacity: 1;
}
