:root {
  --primary-text-color: #434455;
  --title-text-color: #2e2f42;
  --hero-text-color: #ffffff;
  --white: #ffffff;
  --customers-border: #8e8f99;
  --footer-logo-color: #f4f4fd;
  --footer-text-color: #e7e9fc;
  --accent-color: #4d5ae5;
  --portfolio-button-bgc: #404bbf;
  --success: #31d0aa;
  --modal-bgc: #fcfcfc;
  --modal-close-button: rgba(0, 0, 0, 0.1);
  --placeholder-color: rgba(117, 117, 117, 0.5);
  --form-border-color: rgba(33, 33, 33, 0.2);
  --checkbox-text-color: #757575;
  --form-footer-border: rgba(255, 255, 255, 0.3);
  --footer-icon-bgc: rgba(255, 255, 255, 0.1);
  --footer-placeholder: rgba(255, 255, 255, 0.6);

  --nav-list-gap: 40px;
  --list-gap: 24px;

  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  color: var(--primary-text-color);
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.02em;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.section:nth-child(2) {
  padding-bottom: 0;
}

.section-title {
  color: var(--title-text-color);
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;

  margin-top: 0;
  margin-bottom: 72px;
}

.link {
  color: var(--title-text-color);
  text-decoration: none;

  transition: color 250ms var(--timing-function);
}

.link:hover,
.link:focus {
  cursor: pointer;
  color: var(--accent-color);
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.button {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;

  cursor: pointer;

  border-radius: 4px;
  border: 1px solid transparent;
}

img {
  display: block;
  max-width: 100%;
}

/* Logo */
.logo {
  color: var(--accent-color);
  text-transform: uppercase;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.3;
  letter-spacing: 0.03em;
}

.logo-header {
  color: var(--title-text-color);
}

.logo-footer {
  color: var(--footer-logo-color);
}

/* Site nav */
header {
  border-bottom: 1px solid var(--footer-text-color);
}

.main-nav {
  display: flex;
  align-items: center;
}

.site-nav {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;

  margin-left: 76px;
  display: flex;
}

.site-nav .item:not(:last-child) {
  margin-right: var(--nav-list-gap);
}

.site-nav .link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
}

.link.current {
  position: relative;

  color: var(--portfolio-button-bgc);
}

.link.current::after {
  position: absolute;
  bottom: 0;

  content: '';
  display: block;
  width: 100%;
  height: 4px;

  background: var(--portfolio-button-bgc);
  border-radius: 2px;
}

.contacts {
  margin-left: auto;
}

.contacts-list {
  font-size: 16px;
  line-height: 1.5;

  display: flex;
}

.contacts-list-item .link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
}

.contacts-list-item:not(:last-child) {
  margin-right: var(--nav-list-gap);
}

.contacts-link {
  font-style: normal;
  color: var(--primary-text-color);
}

/* Hero */
.hero {
  text-align: center;

  max-width: 1440px;
  margin: 0 auto;
  padding-top: 188px;
  padding-bottom: 188px;

  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/main_page/hero/hero_bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.hero-title {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  width: 494px;
  color: var(--hero-text-color);

  margin-top: 0;
  margin-left: auto;
  margin-bottom: 48px;
  margin-right: auto;
}

.hero > .button {
  color: var(--hero-text-color);
  background-color: var(--accent-color);
  padding: 16px 32px;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  transition: background-color 250ms var(--timing-function);
}

.hero .button:hover,
.hero .button:focus {
  background-color: var(--portfolio-button-bgc);
}

/* MOdal */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(46, 47, 66, 0.4);

  opacity: 1;
  transition: opacity 250ms var(--timing-function);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms var(--timing-function);

  width: 406px;
  height: 576px;

  padding: 72px 24px 24px;

  background: var(--modal-bgc);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal .button.close {
  position: absolute;
  top: 24px;
  right: 24px;

  display: flex;
  align-items: center;
  justify-content: center;
  height: 24px;
  width: 24px;

  background-color: var(--footer-text-color);
  border: 1px solid var(--modal-close-button);
  border-radius: 100%;

  transition: fill 250ms var(--timing-function),
    background-color 250ms var(--timing-function);
}

.modal .button.close:hover,
.modal .button.close:focus {
  fill: var(--white);
  background-color: var(--portfolio-button-bgc);
}

.modal .title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;

  margin-top: 0;
  margin-bottom: 16px;
}

.inputs {
  position: relative;

  width: 360px;

  text-align: start;
}

.modal .form-field {
  margin-bottom: 8px;
}

.form-field.comment {
  margin-bottom: 16px;
}

.modal .form-label {
  display: flex;
  flex-direction: column;

  margin-bottom: 8px;

  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;

  color: var(--customers-border);
}

.modal .form {
  position: relative;

  margin-top: 4px;
}

.form .icon {
  position: absolute;

  top: 50%;
  left: 24px;
  transform: translate(-50%, -50%);

  fill: var(--title-text-color);
}

.form-label:focus-within .icon,
.form-label:focus-within .form-input {
  fill: var(--accent-color);
  border-color: var(--accent-color);
}

.form-input {
  outline: none;
}

.modal .form-input {
  width: 100%;
  height: 40px;

  padding-left: 38px;

  border: 1px solid var(--form-border-color);
  border-radius: 4px;
}

.modal .form-input.comment {
  padding: 8px 16px;
  height: 120px;
  resize: none;
}

.modal .form-input::placeholder {
  font-size: 12px;
  line-height: 1.3;
  letter-spacing: 0.04em;
  color: var(--placeholder-color);
}

.check {
  margin-bottom: 24px;
}

.check-label {
  position: relative;

  font-size: 12px;
  line-height: 1.3;
  letter-spacing: 0.04em;

  padding-left: 24px;
  color: var(--checkbox-text-color);
}

.check-box {
  position: absolute;

  left: 8px;
  top: 6.5px;
  transform: translate(-50%, -50%);

  width: 16px;
  height: 16px;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 1.25px solid var(--title-text-color);
  border-radius: 2px;
  background-color: transparent;

  transition: background-color 250ms var(--timing-function),
    border-color 250ms var(--timing-function);
}

.check-box .icon {
  fill: none;

  transition: fill 250ms var(--timing-function);
}

.check-input:checked + .check-box {
  border-color: transparent;
  background-color: var(--accent-color);
}

.check-input:checked + .check-box .icon {
  fill: var(--footer-logo-color);
}

.check-link {
  color: var(--accent-color);
}

.inputs .submit {
  position: absolute;

  left: 50%;
  transform: translateX(-50%);

  width: 169px;
  height: 56px;

  color: var(--white);

  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  transition: background-color 250ms var(--timing-function);
}

/* Our features */
.section:nth-child(2) {
  padding-top: 120px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.feature-list {
  display: flex;
  margin-left: calc(-1 * var(--list-gap));
}

.feature-list-item {
  flex-basis: calc(100% / 4 - var(--list-gap));
  margin-left: var(--list-gap);
}

.icon-block {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.feature-list-item .icon-block {
  height: 112px;
  background-color: var(--footer-logo-color);
  border-radius: 4px;
  margin-bottom: 8px;
}

.feature-list-item p {
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
}

.feature-list-item h3 {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;

  margin-top: 0;
  margin-bottom: 8px;
}

/* What are we doing */
.doing-list {
  display: flex;
  margin-left: calc(-1 * var(--list-gap));
}

.doing-list-item {
  flex-basis: calc(100% / 3 - var(--list-gap));
  margin-left: var(--list-gap);
}

/* Team */
.section:nth-child(4) {
  background-color: var(--footer-text-color);
}

.team-list {
  display: flex;
  margin-left: calc(-1 * var(--list-gap));
}

.team-list-item {
  background-color: var(--white);
  border-radius: 0px 0px 4px 4px;
  text-align: center;

  flex-basis: calc(100% / 4 - var(--list-gap));
  margin-left: var(--list-gap);

  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-card {
  padding-top: 32px;
  margin-bottom: 8px;
}

.team-list-item h3 {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 8px;
}

.team-list-item p {
  font-size: 16px;
  line-height: 1.5;

  margin-top: 0;
  margin-bottom: 0;
}

.social {
  padding: 0 16px 32px 16px;
}

.social-list {
  display: flex;
  margin-left: calc(-1 * var(--list-gap));
}

.social-list-item.team {
  flex-basis: calc(100% / 4 - var(--list-gap));
  height: 40px;
  margin-left: var(--list-gap);

  background-color: var(--accent-color);

  transition: background-color 250ms var(--timing-function);
}

.icon-block.team {
  border-radius: 100%;
  transition: background-color 250ms var(--timing-function);
}

.social-list-item.team:hover,
.social-list-item.team:focus,
.icon-block.team:hover,
.icon-block.team:focus {
  background-color: var(--portfolio-button-bgc);
}

/* Customers */
.customers-list {
  display: flex;
  margin-left: calc(-1 * var(--list-gap));
}

.customers-list-item {
  flex-basis: calc(100% / 6 - var(--list-gap));
  height: 88px;
  margin-left: var(--list-gap);

  border: 1px solid;
  border-color: var(--customers-border);
  border-radius: 4px;

  transition: border-color 250ms var(--timing-function);
}

.customers-list-item .icon {
  fill: var(--customers-border);

  transition: fill 250ms var(--timing-function);
}

.customers-list-item:hover,
.customers-list-item:focus,
.icon-block.customers:hover .icon,
.icon-block.customers:focus .icon {
  border-color: var(--portfolio-button-bgc);
  fill: var(--portfolio-button-bgc);
}

/* Footer */
footer {
  background-color: var(--title-text-color);
  padding-top: 100px;
  padding-bottom: 100px;
}

/* Info */
.studio-info {
  display: flex;
}

footer .logo {
  margin-top: 0;
  margin-bottom: 0;
}

footer p {
  color: var(--footer-text-color);
  font-size: 16px;
  line-height: 1.5;

  width: 264px;
  margin-top: 16px;
  margin-bottom: 0;
}

footer .title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;

  color: var(--white);

  margin-top: 0;
  margin-bottom: 16px;
}

/* Socials */
.social-container {
  margin-left: 120px;

  width: 208px;
}

footer .social-list {
  display: flex;
  margin-left: calc(-1 * 16px);
}

.social-list-item {
  flex-basis: calc(100% / 4 - 16px);
  height: 40px;
  margin-left: 16px;

  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 100%;

  transition: background-color 250ms var(--timing-function);
}

.icon-block.footer {
  border-radius: 100%;
  background-color: var(--footer-icon-bgc);

  transition: background-color 250ms var(--timing-function);
}

.social-list-item:hover,
.icon-block.footer:focus {
  background-color: var(--success);
  border-radius: 100%;
}

/* Subscribe */
.subscribe {
  margin-left: 80px;
}

.subs-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.subscribe .form-input {
  height: 40px;
  width: 264px;

  color: var(--footer-placeholder);

  padding-left: 16px;
  padding-top: 8px;
  padding-bottom: 8px;

  background-color: transparent;
  border: 1px solid var(--form-footer-border);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  transition: border-color 250ms var(--timing-function);
}

.subscribe .form-input::placeholder {
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;

  color: var(--footer-placeholder);
}

.subscribe .form-input:focus-within {
  border-color: var(--accent-color);
}

.button-subscribe {
  width: 165px;
  height: 40px;

  margin-left: 24px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;

  font-size: 16px;
  line-height: 1.5;

  fill: var(--white);
  color: var(--white);
  background-color: var(--accent-color);

  transition: background-color 250ms var(--timing-function);
}

.button-subscribe:hover,
.button-subscribe:focus {
  background-color: var(--portfolio-button-bgc);
}

/* Portfolio */

/* Filter */
.portfolio .section {
  padding-top: 96px;
}

.filter-list {
  display: flex;
  justify-content: center;

  margin-bottom: 72px;
  margin-left: calc(-1 * var(--list-gap));
}

.filter-list-item {
  margin-left: var(--list-gap);
}

.filter-list-item .button {
  padding: 12px 24px;
  border: 1px solid;
  border-color: var(--footer-text-color);
  background-color: var(--footer-logo-color);
  color: var(--accent-color);

  box-shadow: none;
  transition: border-color 250ms var(--timing-function),
    background-color 250ms var(--timing-function),
    color 250ms var(--timing-function), box-shadow 250ms var(--timing-function);
}

.filter-list-item .button:hover,
.filter-list-item .button:focus {
  color: var(--white);
  background-color: var(--portfolio-button-bgc);
  border: 1px solid;
  border-color: var(--portfolio-button-bgc);
  border-radius: 4px;

  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
}

/* Project list */
.project-list-item .link:hover,
.project-list-item .link:focus {
  color: currentColor;
}

.project-thumb {
  position: relative;
  overflow: hidden;
}

.project-thumb::before {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  transform: translateY(100%);
  opacity: 0;
  transition: transform 250ms var(--timing-function),
    opacity 250ms var(--timing-function);

  content: '';
  background-color: var(--accent-color);
}

.overlay-text {
  position: absolute;
  top: 40px;
  left: 32px;
  right: 32px;

  transform: translateY(300%);
  opacity: 0;
  transition: transform 250ms var(--timing-function),
    opacity 250ms var(--timing-function);

  color: var(--footer-logo-color);
  font-size: 16px;
  line-height: 1.5;
}

.project-list-item:hover .project-thumb::before,
.project-list-item .link:focus .project-thumb::before,
.project-list-item:hover .overlay-text,
.project-list-item .link:focus .overlay-text {
  transform: translateY(0%);
  opacity: 1;
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-2 * var(--list-gap));
  margin-left: calc(-1 * var(--list-gap));
}

.project-list-item {
  flex-basis: calc(100% / 3 - var(--list-gap));
  margin-top: calc(2 * var(--list-gap));
  margin-left: var(--list-gap);

  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);

  transition: box-shadow 250ms var(--timing-function);
}

.project-list-item:hover,
.project-list-item .link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.project-list-item h2 {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;

  margin-top: 0;
  margin-bottom: 8px;
}

.project-list-item p {
  font-size: 16px;
  line-height: 1.5;

  margin-top: 0;
  margin-bottom: 0;
}

.card-content {
  padding-top: 32px;
  padding-left: 16px;
  padding-bottom: 32px;

  border-right: 1px solid var(--footer-text-color);
  border-bottom: 1px solid var(--footer-text-color);
  border-left: 1px solid var(--footer-text-color);
}
